.div {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.inputs {
    margin: 2%;
}

.proPic {
    border-radius: 50%;
    max-width: 80px;
}

.postImage {
    width: 500px;
}

.forYouPageImage {
    width: 300px;
}

.forYouPost {
    margin: auto;
}

.titleText {
    text-align: center;
}